

services:
  postgres:
    image: postgres:16-alpine
    container_name: court-management-db
    env_file:
      - .env
    ports:
      - '5433:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d courtdb"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: court-management-backend
    env_file:
      - .env
    ports:
      - '3000:3000'
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      JWT_SECRET: supersecretkey123
    # volumes:
    #   - ./backend:/app
    #   - /app/node_modules

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      target: dev
    container_name: court-management-frontend
    ports:
      - '4202:4200'
    depends_on:
      - backend
    volumes:
      - ./frontend:/app
      - /app/node_modules
  

  admin-portal:
    build: ./admin-portal
    ports:
      - "4000:3000"
    depends_on:
      - backend


volumes:
  postgres_data: